<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<center>

	<br>
	
	<h1>WHATS NEW IN MEALS?</h1>

	<br>
	<br>

	<a href="/admin"><font size="5" > Back to List </font></a>
	<br/><br/>
	<form method="post">
		<table border="2" height= "250px" width="450px">

			<font size="6">

			<tr>
				<td>ITEM NAME</td>
				<td><input type="text" name="name"></td>
			</tr>
			<tr>
				<td>PRICE</td>
				<td><input type="text" name="price">TK</td>
			</tr>


			<tr>
				<td></td>
				<td><input type="submit" value="Save"></td>
			</tr>

		</font>

		</table>

		<table>
			<tr>
				<td>
				<ul>
					<% for(var i = 0; i < errs.length; i++){ %>
						<li><%= errs[i].message %></li>
					<% } %>
				</ul>
				</td>
			</tr>
		</table>
	</form>

</center>	
</body>
</html>